.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  align-content: center;
  padding: 30px 90px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 60%;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  border-radius: 10px;
  border: 0px;
  background-color: gray;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: black;
}
.headbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
