/* bootcampList.module.css */
.container {
  padding: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 70%;
}

.grid a {
  text-decoration: none;
}

.bootcamphead {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
