.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thebuttons {
  gap: 30px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.coursehead {
  font-size: 70px;
}

.deletebutton {
  background-color: red;
}

.editbutton {
  background-color: blue;
}
