.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: black;
  color: white;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navLinks li a:hover {
  color: #ffc107;
}

.btn {
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  border: none;
}

.btn:focus,
.btn:focus-visible,
.btn:hover {
  color: #ffc107;
}
